#define LAYER_MAIN 0
#define LAYER_SYMB 1
#define LAYER_ARROWS 2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define LEFT_KEYS 1 2 3 4 5 6 7 15 16 17 18 19 20 21 29 30 31 32 33 34 41 42 43 44 45 46 47 55 56 57 58 59
#define LEFT_THUMB_KEYS 65 66 69 70 71 75
#define RIGHT_KEYS 8 9 10 11 12 13 14 22 23 24 25 26 27 28 35 36 37 38 39 40 48 49 50 51 52 53 54 60 61 62 63 64
#define RIGHT_THUMB_KEYS 67 68 72 73 74 76
#define HRM_TAP_TERM_MS 250
#define QUICK_TAP_MS 160
#define PRIOR_IDLE_MS 150

&lt {
    require-prior-idle-ms = <125>;
    flavor = "balanced";
};

&mt {
    require-prior-idle-ms = <125>;
    flavor = "balanced";
    hold-trigger-on-release;
};

/ {
    behaviors {
        hrr: hrr {
            compatible = "zmk,behavior-hold-tap";
            label = "HRR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <1 2 3 4 5 6 7 15 16 17 18 19 20 21 29 30 31 32 33 34 41 42 43 44 45 46 47 55 56 57 58 59 65 66 69 70 71 75>;
            hold-trigger-on-release;
        };

        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <8 9 10 11 12 13 14 22 23 24 25 26 27 28 35 36 37 38 39 40 48 49 50 51 52 53 54 60 61 62 63 64 67 68 72 73 74 76>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&bootloader
&kp GRAVE                          &kp NUMBER_1                   &kp NUMBER_2     &kp NUMBER_3     &kp NUMBER_4           &kp NUMBER_5       &kp C_MUTE                  &kp PLUS          &kp NUMBER_6                &kp NUMBER_7                &kp NUMBER_8       &kp NUMBER_9                       &kp NUMBER_0                &kp MINUS
&kp TAB                            &kp Q                          &kp W            &kp E            &kp R                  &kp T              &kp C_VOLUME_UP             &kp EQUAL         &kp Y                       &kp U                       &kp I              &kp O                              &kp P                       &kp BACKSLASH
&kp ESCAPE                         &hrl LEFT_SHIFT A              &hrl LEFT_GUI S  &hrl LEFT_ALT D  &hrl LCTRL F           &kp G                                                            &kp H                       &hrr RCTRL J                &hrr RIGHT_ALT K   &hrr RIGHT_GUI L                   &hrr RIGHT_SHIFT SEMICOLON  &kp SINGLE_QUOTE
&kp LEFT_SHIFT                     &kp Z                          &kp X            &kp C            &kp V                  &kp B              &kp C_VOLUME_DOWN           &kp MINUS         &kp N                       &kp M                       &kp COMMA          &kp PERIOD                         &kp SLASH                   &kp MINUS
&mt LEFT_CONTROL C_BRIGHTNESS_DEC  &mt LEFT_ALT C_BRIGHTNESS_INC  &kp LEFT_GUI     &kp LC(LS(TAB))  &lt 2 LC(TAB)                                                                                                       &lt LAYER_ARROWS LG(SPACE)  &kp LS(LG(SLASH))  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &tog LAYER_ARROWS           &tog LAYER_SYMB
                                                                                                                           &kp LC(LG(SPACE))  &kp C_SLEEP                 &kp C_PREVIOUS    &kp C_NEXT
                                                                                                    &mt LEFT_SHIFT RETURN  &mt LEFT_GUI TAB   &kp LC(LG(Q))               &kp C_PLAY_PAUSE  &lt LAYER_ARROWS BACKSPACE  &lt LAYER_SYMB SPACE
                                                                                                                                              &lt LAYER_SYMB BACKSPACE    &kp DELETE
            >;
        };

        symbols {
            bindings = <
&bootloader
&trans       &trans           &trans         &trans                &trans                 &trans     &trans            &trans            &kp KP_DIVIDE  &kp KP_DIVIDE    &kp KP_MULTIPLY  &kp KP_MINUS     &kp BACKSPACE  &kp BACKSPACE
&trans       &kp EXCLAMATION  &kp AMPERSAND  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE   &kp C_POWER       &kp C_PLAY_PAUSE  &trans         &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS    &trans
&trans       &kp HASH         &kp DOLLAR     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE                                      &trans         &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS    &trans
&trans       &kp PERCENT      &kp CARET      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE  &kp C_PREVIOUS    &kp C_NEXT        &trans         &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER   &trans
&trans       &trans           &trans         &kp LESS_THAN         &kp GREATER_THAN                                                                     &kp KP_NUMBER_0  &kp KP_NUMBER_0  &kp KP_DOT       &kp KP_ENTER   &trans
                                                                                          &trans     &trans            &trans            &trans
                                                                   &trans                 &trans     &trans            &trans            &trans         &trans
                                                                                                     &trans            &trans
            >;
        };

        arrows {
            bindings = <
&bootloader
&trans       &trans    &trans    &trans  &trans     &trans  &trans    &trans  &trans  &trans          &trans          &trans        &trans           &trans
&trans       &trans    &trans    &trans  &trans     &trans  &trans    &trans  &trans  &trans          &trans          &trans        &trans           &trans
&trans       &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans                    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans       &trans    &trans    &trans  &trans     &trans  &trans    &trans  &trans  &trans          &trans          &trans        &trans           &trans
&trans       &trans    &trans    &trans  &trans                                       &trans          &trans          &trans        &trans           &trans
                                                    &trans  &trans    &trans  &trans
                                         &trans     &trans  &trans    &trans  &trans  &trans
                                                            &trans    &trans
            >;
        };
    };
};
